body{
    background-image:url("bakgrund.png");
    margin: auto; 
    text-align: center;
}
.wrapper{
    margin: auto;
    text-align: center; 
    display: flex;
    width: 50%;
    padding-top: 200px;
}

article{
    padding: 10px;
    border: 2px solid white; 
    background-color: white;
    box-shadow: grey;
    border-radius: 50px;
    margin: auto;
    width: 300px;
    height: 200px;
}

