body{
    background-image:url("bakgrund2.png");
    margin: auto; 
    text-align: center;
    font-family: Arial, sans-serif;
}
.wrapper{
    margin: auto;
    text-align: center; 
    display: flex;
    width: 50%;
    padding-top: 200px;
    color: black;
}

h1{
    padding: 0px;
    margin: 0px;
}

article{
    padding: 10px;
    border: 2px solid white; 
    background-color: white;
    border-radius: 50px;
    margin: auto;
    width: 300px;
    height: 250px;
    box-shadow: 3px 6px 7px #463e3e;
}

.sol{
    max-width: 35%; 
    height:auto;
}

.calender {
    max-width: 20%;
    height: auto;
    padding: 22px;
}

button{
    background-color: #c8bbe9; 
    font-size: 20px;
    padding: 12px 26px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 125px;
    color: white;
    font-weight: bold;
}

.undertext {
    min-height: 35px;
    margin-bottom: 4px;
}

.undertext1 {
    max-width: 70%;
}

